# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env

# Data / outputs (se quiser manter privado)
data/raw/
data/processed/
data/filtered/

# Editor / OS
.vscode/
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/